.footer {
  background: rgb(12, 12, 12);
  min-height: 10vh;
}

.container {
  width: 80%;
  margin: auto;
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-between;
  //   align-items: baseline;
  align-items: center;
  h1 {
    flex: 4;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
    list-style: none;
    .footer-icon {
      height: 30px;
    }
  }
}
