html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
}
// #root {
//   color: white;
// }

h1 {
  font-size: 2.5rem;
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: 8rem;
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
  color: #bebdbd;
}

span {
  text-decoration: none;
}

@import "home";
@import "features";
@import "soonscreen";
@import "header";
@import "footer";

// Media queries
@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  nav {
    .logo {
      flex: 1;
    }
    ul {
      li {
        margin-left: 5 rem;
      }
    }
  }
  .showcase {
    grid-template-columns: 10% 1fr 10%;
    img {
      width: 100%;
      object-fit: contain;
    }
    img,
    h2,
    .info {
      grid-column: 2/3;
      text-align: center;
    }
  }
  .features-container {
    align-items: center;
    h2 {
      margin-top: 5rem;
    }
    .cards {
      flex-direction: column;
      width: 80%;
      .card {
        margin: 5rem 0rem;
      }
    }
  }
  .soon-screen {
    overflow: hidden;
    img,
    .circle {
      width: 60%;
      height: 60%;
    }
    h2 {
      font-size: 6rem;
      text-align: center;
    }
  }
  .footer {
    h1 {
      flex: 1;
    }
  }
}

@media screen and (max-width: 600px) {
  .features-container {
    .cards {
      width: 100%;
    }
  }
  .soon-screen {
    img,
    .circle {
      width: 50%;
      height: 50%;
    }
    h2 {
      font-size: 5rem;
    }
  }
}
